* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #F5F5F5;
}

.container {
    height: 100px;
    background: #1A1A2E;
}

.container_header {
    margin: 0 auto;
    width: 95%;
    height: 71px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_width {
    margin: 0 auto;
    width: 95%;
}

.logo {
    color: #ff6b6b;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
}

nav {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}

nav > a {
    text-decoration: none;
    color: #fff;
}

footer {
    padding-top: 30px;
    margin-top: 83px;
    height: 109px;
    background: #1A1A2E;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer > p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.footer_nav > a {
    text-decoration: none;
    color: #DF6062;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.popular_block {
    text-align: center;
    width: 240px;
    height: 460px;
    background: white;
    border-radius: 10px;
    padding: 7px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.popular_block > img {
    width: 220px;
    height: 280px;
}

.popular_block > p {
    font-size: 15px;
    font-weight: 400;
    color: #a2a2a2;
}

.popular_block > p, h4 {
    padding-left: 10px;
}

.line {
    width: 130px;
    height: 7px;
    border: none;
    background-color: #ff6b6b;
    border-radius: 5px;
    margin-top: -27px;
}

.line-1 {
    width: 226px;
    height: 7px;
    border: none;
    background-color: #e9ecef;
    border-radius: 5px;
}

.reading {
    margin: 0 10px;
    color: #d1b869;
    background: #fff3cd;
    border-radius: 15px;
    width: 79px;
    height: 31px;
    text-align: center;
    padding: 7px 0;
}

.flex_library {
    display: flex;
}

.sidebar {
    background: #fff;
    width: 20%;
    height: 1046px;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 46px;
}

.sidebar > a {
    text-decoration: none;

}

.sidebar > img {
    width: 177px;
    height: 177px;
    border-radius: 90px;
}

.sidebar > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.sidebar > div > p:first-child {
    font-size: 23px;
    font-weight: bold;
}

.sidebar > div > p:nth-child(2) {
    font-size: 16px;
    color: #999999;
    text-align: center;
    margin: 40px 0;
}

.sidebar > div > a {
    margin-top: 46px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sidebar > div > a:nth-child(3) {
    font-size: 16px;
    color: #fff;
    border-radius: 7px;
    width: 185px;
    height: 55px;
    background: #ff6b6b;
    text-align: center;
    padding-top: 18px;
}

.library {
    display: flex;
    width: 79%;
    height: 1%;
    background: white;
    margin: 50px 0 0;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 44px;
}

.library > div {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    padding: 25px;
}

a {
    text-decoration: none;
    color: #000000;
}

@media (max-width: 1290px) {
    .flex_library {
        display: flex;
        gap: 1%;
        flex-direction: column;
        align-items: center;
    }
    .sidebar {
        height: 1%;
        width: 100%;
        padding-bottom: 27px;
    }
    .library {
        display: flex;
        width: 100%;
        height: 1%;
        background: white;
        margin: 50px 0 0;
        border-radius: 10px;
        padding-bottom: 44px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    li:nth-child(1) {

        width: 92vw;
        height: 4vw;
        min-height: 42px;
    }
}

@media (max-width: 780px) {
    nav {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .container_header {
        margin: 0 auto;
        width: 95%;
        height: 71px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero_detail {
        color: #fff;
        text-align: center;
        font-size: 16px;
        padding-top: 30px;
    }
    .hero_title {
        color: #fff;
        text-align: center;
        font-size: 34px;
    }

}

/* адаптивка */
@media (max-width: 431px) {
    .container_header {
        height: 120px;
        justify-content: center;
        align-content: center;
        gap: 15px;
    }


    .hero {
        height: 225px;
    }

    .container {
        height: 120px;
    }

    .hero > div {
        padding: 15px 0;
    }

    .hero_title {
        font-size: 26px;
    }

    .hero_detail {
        font-size: 18px;
    }

    .logo {
        font-size: 15px;
    }

    nav {
        font-size: 12px;
        gap: 40px;
    }

    footer {
        height: 210px;
    }
}