* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #F5F5F5;
}

.container {
    height: 100px;
    background: #1A1A2E;
}

.container_header {
    margin: 0 auto;
    width: 95%;
    height: 71px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_width {
    margin: 0 auto;
    width: 95%;
}

.logo {
    color: #ff6b6b;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
}

nav {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

nav > a {
    text-decoration: none;
    color: #fff;
}

footer {
    padding-top: 30px;
    margin-top: 83px;
    height: 109px;
    background: #1A1A2E;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer > p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.footer_nav > a {
    text-decoration: none;
    color: #DF6062;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.line {
    width: 130px;
    height: 7px;
    border: none;
    background-color: #ff6b6b;
    border-radius: 5px;
    margin-top: -27px;
}

.line-1 {
    width: 226px;
    height: 7px;
    border: none;
    background-color: #e9ecef;
    border-radius: 5px;
}

.reading {
    margin: 0 10px;
    color: #d1b869;
    background: #fff3cd;
    border-radius: 15px;
    width: 79px;
    height: 31px;
    text-align: center;
    padding: 7px 0;
}

.flex_library {
    display: flex;
    gap: 1%;
}

.sidebar {
    background: #fff;
    width: 13%;
    height: 1046px;
    margin: 50px 0 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 19px;
}

li > a {
    text-decoration: none;
}

li:nth-child(1) > a {
    color: #fff;
}

.no-bullets {
    list-style-type: none;
}

.sidebar > img {
    width: 177px;
    height: 177px;
    border-radius: 90px;
}

.sidebar > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    align-items: flex-start;
    font-weight: 400;
}

.sidebar > div > p:first-child {
    font-size: 23px;
    font-weight: bold;
}

li {
    margin-top: 46px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
}

.sidebar > div > p:nth-child(2) {
    font-weight: bold;
    color: #777;
    margin-top: 26px;
}

li:nth-child(1) {
    font-size: 16px;
    color: #fff;
    border-radius: 7px;
    width: 10vw;
    height: 3vw;
    background: #ff6b6b;
    padding-top: 10px;
    padding-right: 55px;
    margin-top: 20px;
}

li, a {
    transition: background-color 0.2s 0.3s, width 0.2s, height 0.2s 0.2s, padding 0.2s 0.3s, border-radius 0.2s 0.3s,
    color 0.2s 0.3s;
}

li:hover {
    font-size: 16px;
    color: #fff;
    border-radius: 7px;
    width: 185px;
    height: 55px;
    background: #FF914D;
    text-align: center;
    padding-top: 18px;
}

li:active {
    background: #ff0000;
}

a:hover {
    color: #fff;
}

.library {
    display: flex;
    width: 86%;
    height: 1%;
    background: white;
    margin: 50px 0 0;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 44px;
}

.library > div {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
}

.library > div > img {
    width: 60vw;
}

.library > div > p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000000;
}
@media (max-width: 1790px) {
    .flex_library {
        display: flex;
        gap: 1%;
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        height: 1%;
        padding-bottom: 27px;
    }

    .library {
        display: flex;
        width: 100%;
        height: 1%;
        background: white;
        margin: 50px 0 0;
        border-radius: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 44px;
    }
    li:nth-child(1) {
        width: 92vw;
        height: 4vw;
        min-height: 42px;
    }
}

/* адаптивка */
@media (max-width: 431px) {
    .container_header {
        height: 120px;
        justify-content: center;
        align-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }


    .hero {
        height: 225px;
    }

    .container {
        height: 120px;
    }

    .hero > div {
        padding: 15px 0;
    }

    .hero_title {
        font-size: 26px;
    }

    .hero_detail {
        font-size: 18px;
    }

    .logo {
        font-size: 15px;
    }

    nav {
        font-size: 12px;
        gap: 40px;
    }

    footer {
        height: 210px;
    }
}