* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #F5F5F5;
}

.container {
    height: 71px;
    background: #1A1A2E;
}

.container_header {
    margin: 0 auto;
    width: 95%;
    height: 71px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_width {
    margin: 0 auto;
    width: 95%;
}

.logo {
    color: #ff6b6b;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
}

nav {
    width: 415px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

nav > a {
    text-decoration: none;
    color: #fff;
}

footer {
    padding-top: 30px;
    margin-top: 83px;
    height: 109px;
    background: #1A1A2E;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer > p {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.footer_nav > a {
    text-decoration: none;
    color: #DF6062;
}


/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

form {
    display: flex;
    justify-content: center;
    margin-top: 73px;
}

.form-registration {
    width: 565px;
    height: 1075px;
    background: white;
}

.flex_form {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    border-radius: 20px;
}

.flex_form_div {
    display: flex;
    flex-direction: column;
    gap: 21px;
    text-align: center;
    padding-top: 55px;
}

.flex_form_div > p {
    color: #777777;
}

label {
    font-weight: bold;
}

input {
    width: 480px;
    height: 55px;
    margin-top: 15px;
    border-radius: 10px;
    border: solid black 1px;
}

.checkbox_form {
    width: 17px;
    height: 17px;
}

button {
    width: 480px;
    height: 55px;
    background: #ff6b6b;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
}

p {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #DF6062;
}

@media (max-width: 581px) {
    .container_header {
        height: 120px;
        justify-content: center;
        align-content: center;
        gap: 15px;
    }

    .form-registration {
        width: 400px;
        height: 880px;
        background: white;
        gap: 35px
    }

    input {
        width: 60vw;
        height: 40px;
        margin-top: 15px;
        border-radius: 10px;
        border: solid black 1px;
    }

    button {
        width: 60vw;
        height: 40px;
    }

    .container {
        height: 120px;
    }

    .logo {
        font-size: 15px;
    }

    nav {
        font-size: 12px;
        gap: 40px;
    }

    footer {
        height: 210px;
    }
}